<div>
    <el-row :gutter="10" type="flex">
        <el-col :span="12">
            <sly-card title="Input">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
                </sly-field>
            </sly-card>
        </el-col>
        <el-col :span="16" style="flex: 1">
            <sly-card title="Output" style="height: 100%">
                <sly-field v-if="data.progress === 100" title=""
                           description="New project has been successfully created">
                    <a slot="title" target="_blank" :href="`/projects/${data.resultProjectId}/datasets`">{{data.resultProject}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resultProjectPreviewUrl}` }"/>
                </sly-field>
                <el-progress v-if="data.started === true && data.progress !== 100"
                             :percentage="data.progress"></el-progress>
                <el-button :disabled="data.finished === true" type="primary"
                           @click="command('create_trainset')" v-if="data.started === false">
                    <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Run
                </el-button>
            </sly-card>
        </el-col>
    </el-row>

    <sly-card title="Settings"
              subtitle="Tag 'train' has to be assigned to at least one image and the same for tag 'val'.
                        Tag 'test' is not available in current version" style="margin-top: 15px;">
<!--        -->
        <el-table :disabled="data.finished === true" :data="data.splitTable" border>
            <el-table-column prop="name" label="Tag" width="100px">
                <template scope="scope">
                    <div v-if="scope.row.showTag === false">{{scope.row.name}}</div>
                    <el-tag v-if="scope.row.showTag === true" :type="scope.row.type">
                        <i class="zmdi zmdi-tag mr5"></i>{{scope.row.name}}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="count" label="Images Count">
                <template scope="scope">
                    <div v-if="scope.row.showTag === false">{{data.totalImagesCount}}</div>
                    <el-slider
                            v-if="scope.row.showTag === true"
                            v-model="scope.row.count"
                            show-input
                            :min="1"
                            :max="data.totalImagesCount - 1"
                            :change="data.totalImagesCount"
                    ></el-slider>
                </template>
            </el-table-column>
            <el-table-column prop="percent" label="Images Percent (%)">
                <template scope="scope">
                    <div v-if="scope.row.showTag === false">100%</div>
                    <el-slider
                            v-if="scope.row.showTag === true"
                            v-model="state.tagsPercent[scope.row.name]"
                            show-input
                    ></el-slider>
                </template>
            </el-table-column>
        </el-table>
    </sly-card>
</div>