<div>
    <el-row :gutter="10" type="flex">
        <el-col :span="12">
            <sly-card title="Input">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
                </sly-field>
            </sly-card>
        </el-col>
        <el-col :span="16" style="flex: 1">
            <sly-card title="Output" style="height: 100%">
                <sly-field v-if="data.progress === 100" title=""
                           description="New project has been successfully created">
                    <a slot="title" target="_blank" :href="`/projects/${data.resultProjectId}/datasets`">{{data.resultProject}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resultProjectPreviewUrl}` }"/>
                </sly-field>
                <el-progress v-if="data.started === true && data.progress !== 100"
                             :percentage="data.progress"></el-progress>
                <el-button :disabled="data.finished === true" type="primary"
                           @click="command('assign_tags')" v-if="data.started === false">
                    <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Run
                </el-button>
            </sly-card>
        </el-col>
    </el-row>

    <sly-card title="Settings: Train / Val splits"
              subtitle="Tag 'train' has to be assigned to at least one image and the same for tag 'val'.
                        Tag 'test' is not available in current version" style="margin-top: 15px;">

        <el-table :data="data.table" style="width: 100%">
            <el-table-column label="Info" width="180">
                <template scope="scope">
                    <el-tag :type="scope.row.type">
                        <i v-if="scope.row.name !== 'total'" class="zmdi zmdi-tag mr5"></i>{{scope.row.name}}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column label="Number of images" width="180">
                <template scope="scope">
                    <span style="margin-left: 10px">{{state.count[scope.row.name]}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Percent of images">
                <template scope="scope">
                    <div v-if="scope.row.name !== 'train'">
                        <span style="margin-left: 10px">{{state.percent[scope.row.name]}}%</span>
                    </div>

                    <el-slider v-if="scope.row.name === 'train'"
                               v-model="state.percent.train"
                               :disabled="state.sliderDisabled"
                               show-input :min="1" :max="100"
                               style="flex:1; max-width: 99%; margin-left: 15px;"
                               @input="state.count.train = (data.totalImagesCount * state.percent.train / 100).toFixed();
                                       state.count.val = data.totalImagesCount - state.count.train;
                                       state.percent.val = 100 - state.percent.train"
                    ></el-slider>
                </template>
            </el-table-column>
        </el-table>

        <sly-field style="margin-top: 15px;"
                   title="FOR DEBUG ONLY: Use all train images in validation"
                   description="Images are used for both training and validation to verify if training pipeline
                   is capable of overfitting. We recommend to use this option only to debug NN with tiny datasets">
            <el-checkbox
                    v-model="state.shareImagesBetweenSplits"
                    @change="if (state.shareImagesBetweenSplits === true) {
                                state.count.train = data.totalImagesCount;
                                state.count.val = data.totalImagesCount;
                                state.percent.train = 100;
                                state.percent.val = 100;
                                state.sliderDisabled = true;
                             } else {
                                state.sliderDisabled = false;
                                state.percent.train = 80
                             }">
                Train == Validation
            </el-checkbox>
        </sly-field>

    </sly-card>
</div>